@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.IO
@{
    Layout = null;
}

@functions {
    public class ImageValidator
    {
        public static bool isImageByExtension(string file)
        {
            string extension = System.IO.Path.GetExtension(file)?.ToLowerInvariant();
            if (extension == null) return false;
            string[] supportedEx = { ".jpg", ".jpeg", ".png", ".gif", ".bmp" };
            return Array.Exists(supportedEx, ext => ext == extension);
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/js/selectCKEDITOR.js"></script>
@*     <script>
        $(document).ready(function () {

            var funcNum = @(Context.Request.Query["CKEditorFuncNum"]+";");
            $(function () {
                $('img').click(function () {
                    alert(funcNum);
                    var fileurl = '/uplods/' + $(this).attr('title');
                    window.opener.CKEDITOR.tools.callFunction(funcNum, fileurl);
                    window.close();
                }).hover(function () {
                    $(this).css('cursor', 'pointer')
                })
            })
        })
    </script> *@
</head>
<body>

     <div id="fileExplorer">
        <div class="img-thumbnail">
            @foreach (var item in ViewBag.FilesUploads)
            {
                if (ImageValidator.isImageByExtension(item.Name))
                {
                    <figure class="figure text-center">
                        <img src="~/uploads/@item.Name" title="@item.Name" width="120" height="100" alt="No image" />
                        <figcaption class="figure-caption text-center"><b>@item.Name</b></figcaption>
                    </figure>
                }
                else
                {
                    <figure class="figure text-center">
                        <img src="~/images/fileimage.jpg" title="@item.Name" width="120" height="100" alt="No image" />
                        <figcaption class="figure-caption text-center"><b>@item.Name</b></figcaption>
                    </figure>
                }
            }
        </div>
    </div>
</body>
</html>